/* ========================================================================== */
/*                                VARIABLES                                   */
/* ========================================================================== */
:root {
  --main-bg-color: #f4f4f4;

  --container-bg-color: #f4f4f4;

  --semi-container-bg-color: #1b242f;
  --semi-container-font-color: #f2f2f2;

  --skill-box-bg-color: #1b243f;
  --skill-box-font-color: #f2f2f2;

  --semi-container-a-0-bg-color: #f2f2f2;
  --semi-container-a-0-font-color: #1b242f;
  --semi-container-a-0-hover-bg-color: #00a78e;
  --semi-container-a-0-hover-font-color: #000000;

  --heading-bg-color: #f2f2f2;
  --heading-font-color: #1b242f;

  --top-nav-a-bg-color: #1b242f;
  --top-nav-a-font-color: #f2f2f2;
  --top-nav-a-active-bg-color: #00a78e;
  --top-nav-a-active-font-color: #FFFFFF;
  --top-nav-a-hover-bg-color: #dddFFF;
  --top-nav-a-hover-font-color: #000000;

  --button-to-top-bg-color: #00a78e;
  --button-to-top-font-color: #FFFFFF;
  --button-to-top-hover-bg-color: #555;
  --button-to-top-hover-font-color: #FFFFFF;

  --project-blog-td-border-color: #f2f2f2;

  --font-size-0: 1em;
  --font-size-1: 1.1em;
  --font-size-2: 1.4em;
  --font-size-3: 1.7em;

  --padding-0: 0.4em;
  --padding-1: 1%;
  --padding-2: 2%;
  --padding-3: 4%;
  --padding-4: 6%;
  --padding-5: 10%;
  --padding-6: 18%;
  --padding-7: 25%;

  --margin-0: 1%;

  --a-border-radius-0: 2px;

}

/* ========================================================================== */
/*                                BORDER_BOX                                  */
/* ========================================================================== */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* ========================================================================== */
/*                                   IMAGE                                    */
/* ========================================================================== */
img {
  max-width: 100%;
  height: auto;
}

/* ========================================================================== */
/*                                   SHADOW                                   */
/* ========================================================================== */
.shadow {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

/* ========================================================================== */
/*                                CONTAINERS                                  */
/* ========================================================================== */
body {
  background: var(--main-bg-color);
}

table {
  max-width: 100%;
}

.container {
  max-width: 100%;
  background: var(--container-bg-color);
  padding-left: var(--padding-2);
  padding-right: var(--padding-2);
}

img {
  max-width: 100%;
  height: auto;
}

.semi-container {
  max-width: 100%;
  min-height: 100vh;
  padding: var(--padding-4);
  margin-top: var(--margin-0);
  background: var(--semi-container-bg-color);
  color: var(--semi-container-font-color);
  font-size: var(--font-size-0);
}

.heading {
  background: var(--heading-bg-color);
  color: var(--heading-font-color);
  text-align: center;
  width: 100%;
}

.skillBox div{
  background-color: var(--skill-box-bg-color);
  color: var(--skill-box-font-color);
  font-size: var(--font-size-2);
  padding: 10px 20px 10px 20px;
  margin: 10px 10px 10px 10px;
  white-space: nowrap;
}

.li_container {
  padding: var(--padding-1);
  border: var(--project-blog-td-border-color) solid 2px;
  margin-bottom: 10px;
}
/* ========================================================================== */
/*                                OTHER_CSS                                   */
/* ========================================================================== */

.td_border td {
  border: var(--project-blog-td-border-color) solid 2px;
}

/* ========================================================================== */

#projects table a{
  float: left;
  display: block;
  color: var(--semi-container-a-0-font-color);
  text-align: center;
  padding: var(--padding-2);
  border-radius: var(--a-border-radius-0);
  margin-left: 0.8%;
  margin-right: 0.8%;
  text-decoration: none;
  font-size: var(--font-size-1);
  background-color: var(--semi-container-a-0-bg-color);
}

/* Change the color of links on hover */
#projects table a:hover {
  background-color: var(--semi-container-a-0-hover-bg-color) ;
  color: var(--semi-container-a-0-hover-font-color);
}

#projects table img{
  min-width: 200px;
}

/* ========================================================================== */

.border{
  border: var(--project-blog-td-border-color) solid 2px;
}

/* ========================================================================== */

#blogs table a{
  float: left;
  display: block;
  color: var(--semi-container-a-0-font-color);
  text-align: center;
  padding: var(--padding-2);
  border-radius: var(--a-border-radius-0);
  margin-left: 0.8%;
  margin-right: 0.8%;
  text-decoration: none;
  font-size: var(--font-size-1);
  background-color: var(--semi-container-a-0-bg-color);
}

/* Change the color of links on hover */
#blogs table a:hover {
  background-color: var(--semi-container-a-0-hover-bg-color) ;
  color: var(--semi-container-a-0-hover-font-color);
}

#blogs table img{
  min-width: 200px;
}

/* ========================================================================== */

#oss_contrib table img{
  min-width: 200px;
}

/* ========================================================================== */

.topnav{
  background-color: var(--semi-container-bg-color);
  padding-right: 0.45em;
  padding-left: 0.45em;
}

  /* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: var(--top-nav-a-font-color);
  text-align: center;
  padding: 4%;
  margin-left: 0.8%;
  margin-right: 0.8%;
  text-decoration: none;
  font-size: 1.1em;
  white-space: nowrap;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--top-nav-a-hover-bg-color) ;
  color: var(--top-nav-a-hover-font-color);
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: var(--top-nav-a-active-bg-color);
  color: var(--top-nav-a-active-font-color);
}

/* ========================================================================== */

#myBtnToTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 18px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--button-to-top-bg-color); /* Set a background color */
  color: var(--button-to-top-font-color); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: var(--padding-0); /* Some padding */
  border-radius: var(--a-border-radius-0); /* Rounded corners */
  font-size: var(--font-size-3); /* Increase font size */
}

#myBtnToTop:hover {
  background-color: var(--button-to-top-hover-bg-color); /* Add a dark-grey background on hover */
}
/* ========================================================================== */
/*                                  MEDIA                                     */
/* ========================================================================== */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 100%;
    background: var(--container-bg-color);
    padding-left: var(--padding-5);
    padding-right: var(--padding-5);
  } 
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 100%;
    background: var(--container-bg-color);
    padding-left: var(--padding-6);
    padding-right: var(--padding-6);
  } 
}

@media only screen and (min-width: 1200px) {
    .container {
      max-width: 100%;
      background: var(--container-bg-color);
      padding-left: var(--padding-7);
      padding-right: var(--padding-7);
    } 
}

@media only all and (orientation: portrait) {
  .container {
    max-width: 100%;
    background: var(--container-bg-color);
    padding-left: var(--padding-2);
    padding-right: var(--padding-2);
  }
}